*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: green;
  font-family: sans-serif;
  
}






h2 {
  text-align: left;
  color: rgba(3, 102, 16, 0.986);
  border-bottom: 2pt solid;
  width: fit-content;
  animation: changeColor 5s linear infinite;
  size: a;
}

@keyframes changeColor{
 0% {
  color: darkgreen;
 }
 50% {
  color: #333;
 }
 100% {
  color: darkgreen;
 }
  }

h3 {
  text-align: left;
  color: rgba(3, 102, 16, 0.986);
  width: fit-content;
  animation: changeColor 5s linear infinite;
}

section {
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  margin-bottom: auto;
  padding-bottom: 20px;
  border-bottom-left-radius:40px  ; 
  border-bottom-right-radius: 40px;
}

body { 
  background-color: beige;
  margin: 0;
}
* {
  box-sizing: border-box;
}

img[name="Ronaldo"] {
  float: right;
  width: 150px;
  border: 5xp solid black;
  border-width: 5px;
  border-radius: 10px;
}
 
 img[name="PKK"] {
  width: 250px;
  float: left;
  height: auto;
  border: 5px solid red;
  border-radius: 5px;
 }



.zentrieren {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

a {
  color: green;
  animation: changeColor 5s linear infinite;
}

body {
  margin: 0;
}

.header {
  background-color: darkgrey;
  padding: 20px;
  text-align: center;
}
h1 {
  text-align: center;
  color: black;
  border-bottom: 2pt solid;
  width: fit-content;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  border-color: black;
}

.Quellen a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Quellen a:hover {
  background-color: white;
  color: black;
}

.Quellen {
  overflow: hidden;
  background-color: grey
  ;
}
.spalten {
  float: left;
  width: 33.33%;
  padding: 15px;
}

